.banner{
    width:500px;
    margin-top: 17px;
    align-items: center;
}

.topicos{
    background: #085d26;
    text-align: center;
}


.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 2em 1em;
}

.topicos__link{
    color: #195237;
    padding: 1em;
    background-color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}